*.xpr
*~
*.bak
sw/jetty/logs
sw/jetty/temp
webapps/openrdf-sesame/app_dir
webapps/ROOT/content/xml/tei
webapps/ROOT/WEB-INF/logs
webapps/ROOT/WEB-INF/work
webapps/solr/data
webapps/ROOT/content/xml/pp-tree
docs/build
solr-index.log
.DS_Store
